
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-navbar-brand fw-bold fs-3 fst-italic text-decoration-none txt-head" href="/">
        <img src="{{url_for('static', filename='assets/images/logo.png')}}" alt="" width="40" height="40" class="d-inline-block align-text-top ">
        Telco Cutomer's Churn
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"></a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="dropdown">
              <a class="btn btn-outline-primary dropdown-toggle" href="/" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown Menu
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="https://github.com/RohMad777" target="_blank">GitHub</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>
