
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h2 class="text-center fw-bolder txt-head">Feature Importance</h2>
            <hr class="my-4">
            <h4 class="text-center">
              Which features had the biggest impact.? </4>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-center">
            
            
        </div>
<hr/>

    <div class="row d-sm-flex mt-2">
        <div class="col-md-12 mt-3">
            <div class="card text-black text-left " style="max-width: 100%">
                <h4 class="card-header p-3">Feature Importance
                </h4>
                <div class="card-body">
                    <img src="{{url_for('static', filename='assets/images/feature.png')}}" class="card-img-top" alt="..." width="100%" />
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="card text-black text-left " style="max-width: 100%">
                <h4 class="card-header p-3">Feature Description
                </h4>
                <div class="card-body">
                    <table class="table table-hover table-responsive table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Feature</th>
                            <th scope="col">Description</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td>PAY_SEPT</td>
                            <td>Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, … 8=payment delay for eight months, 9=payment delay for nine months and above)</td>

                          </tr>
                          <tr>
                            <td>AGE</td>
                            <td>Age in years</td>

                          </tr>
                          <tr>
                            <td>BILL_AMT_SEPT</td>
                            <td>Amount of bill statement in September, 2005 (NT dollar)</td>
                          </tr>
                          
                          <tr>
                            <td>LIMIT_BAL</td>
                            <td>Amount of given credit in NT dollars (includes individual and family/supplementary credit)</td>

                          </tr>
                          <tr>
                            <td>BILL_AMT_AUG</td>
                            <td>Amount of bill statement in August, 2005 (NT dollar)</td>

                          </tr>
                          <tr>
                            <td>BILL_AMT_JUL</td>
                            <td>Amount of bill statement in July, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>PAY_AMT_SEPT</td>
                            <td>Amount of previous payment in September, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>BILL_AMT_APR</td>
                            <td>Amount of bill statement in April, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>BILL_AMT_JUN</td>
                            <td>Amount of bill statement in June, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>BILL_AMT_MEI</td>
                            <td>Amount of bill statement in Mei, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>PAY_AMT_AUG</td>
                            <td>Amount of previous payment in August, 2005 (NT dollar)</td>

                          </tr>
                          <tr>
                            <td>PAY_AMT_JUL</td>
                            <td>Amount of previous payment in July, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>PAY_AMT_APR</td>
                            <td>Amount of previous payment in April, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>PAY_AMT_MEI</td>
                            <td>Amount of previous payment in Mei, 2005 (NT dollar)</td>
                          </tr>

                          <tr>
                            <td>PAY_AMT_JUN</td>
                            <td>Amount of previous payment in June, 2005 (NT dollar)</td>
                          </tr>

                        </tbody>
                      </table>
                </div>
            </div>
        </div>

        </div>

</div>

    