{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block body
  %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container mb-6">
      <div class="row">
          <div class="col 12 p-5 bg-success p-2 text-dark bg-opacity-10 rounded">
              <p class="text-center fs-1 fw-bold">Welcome to Dashboard</p>
              <hr/>
              <p class="text-center fs-6 fw-bold">Predict behavior to retain customers. You can analyze all relevant customer data and develop focused customer retention programs.</p>
          </div>
      </div>
  
  </div>
  <div class="container mt-6">
      <!-- Example row of columns -->
      <div class="row d-sm-flex mt-4">
          <nav class="nav justify-content-center nav-justified">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dataset</button>
                <button class="nav-link" id="nav-feature-tab" data-bs-toggle="tab" data-bs-target="#nav-feature" type="button" role="tab" aria-controls="nav-feature" aria-selected="false">Feature</button>
                <button class="nav-link" id="nav-matrix-tab" data-bs-toggle="tab" data-bs-target="#nav-matrix" type="button" role="tab" aria-controls="nav-matrix" aria-selected="false">Model Evaluation</button>
                <button class="nav-link active" id="nav-predict-tab" data-bs-toggle="tab" data-bs-target="#nav-predict" type="button" role="tab" aria-controls="nav-predict" aria-selected="false">Predict</button>
                <button class="nav-link" id="nav-other-tab" data-bs-toggle="tab" data-bs-target="#nav-other" type="button" role="tab" aria-controls="nav-other" aria-selected="false">Other Project</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <iframe src="/data-set" width="100%" height="800">
                  </iframe>
              </div>
              <div class="tab-pane fade" id="nav-feature" role="tabpanel" aria-labelledby="nav-feature-tab">
              
                  <div class="row d-sm-flex mt-2">
                      <div class="col-md-12 mt-3">
                          <div class="card text-black text-left " style="max-width: 100%">
                              <h4 class="card-header p-3">Feature Importance
                              </h4>
                              <div class="card-body">
                                  <img src="{{url_for('static', filename='assets/images/feature.png')}}" class="card-img-top" alt="..." width="100%" />
                              </div>
                          </div>
                      </div>
              
                      <div class="col-md-12 mt-3">
                          <div class="card text-black text-left " style="max-width: 100%">
                              <h4 class="card-header p-3">Feature Description
                              </h4>
                              <div class="card-body">
                                  <table class="table table-hover table-responsive table-bordered">
                                      <thead>
                                        <tr>
                                          <th scope="col">Feature</th>
                                          <th scope="col">Description</th>
                                        </tr>
                                      </thead>
                                      <tbody>
              
                                        <tr>
                                          <td>TotalCharges</td>
                                          <td>The total amount charged to the customer</td>
              
                                        </tr>
                                        <tr>
                                          <td>MonthlyCharges</td>
                                          <td>The amount charged to the customer monthly</td>
              
                                        </tr>
                                        <tr>
                                          <td>tenure</td>
                                          <td>Number of months the customer has stayed with the company</td>
                                        </tr>
                                        
                                        <tr>
                                          <td>Contract</td>
                                          <td>The contract term of the customer (Month-to-month, One year, Two year)</td>
                                        </tr>
  
                                        <tr>
                                          <td>PaymentMethod</td>
                                          <td>The customer’s payment method (Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic))</td>
                                        </tr>
  
                                        <tr>
                                          <td>OnlineSecurity</td>
                                          <td>Whether the customer has online security or not (Yes, No, No internet service)</td>
              
                                        </tr>
                                        <tr>
                                          <td>TechSupport</td>
                                          <td>Whether the customer has tech support or not (Yes, No, No internet service)</td>
                                        </tr>
              
                                        <tr>
                                          <td>gender</td>
                                          <td>Whether the customer is a male or a female</td>
                                        </tr>
              
                                        <tr>
                                          <td>InternetService</td>
                                          <td>Customer’s internet service provider (DSL, Fiber optic, No)</td>
                                        </tr>
              
                                        <tr>
                                          <td>OnlineBackup</td>
                                          <td>Whether the customer has online backup or not (Yes, No, No internet service)</td>
                                        </tr>
  
                                        <tr>
                                          <td>PaperlessBilling</td>
                                          <td>Whether the customer has paperless billing or not (Yes, No)</td>
                                        </tr>
              
                                      </tbody>
                                    </table>
                              </div>
                          </div>
                      </div>
                      </div>
              </div>
  
              <div class="tab-pane fade" id="nav-matrix" role="tabpanel" aria-labelledby="nav-matrix-tab">
                <div class="row d-sm-flex mt-2">
                  <div class="col-md-6 mt-3">
                      <div class="card text-black text-left " style="max-width: 100%">
                          <h5 class="card-header p-3">Table Scoring
                          </h5>
                          <div class="card-body">
                            <table class="table table-hover table-responsive table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">Matrix</th>
                                  <th scope="col">Score</th>
                                </tr>
                              </thead>
                              <tbody>
      
                                <tr>
                                  <td>Accurcy Train</td>
                                  <td>0.82</td>
      
                                </tr>
                                <tr>
                                  <td>Accurcy Validation</td>
                                  <td>0.79</td>
      
                                </tr>
                                <tr>
                                  <td>Accurcy Test</td>
                                  <td>0.76</td>
                                </tr>
                                
                                <tr>
                                  <td>Loss Train</td>
                                  <td>0.17</td>
      
                                </tr>
                                <tr>
                                  <td>Loss Validation</td>
                                  <td>0.20</td>
      
                                </tr>
                                <tr>
                                  <td>Loss Test</td>
                                  <td>0.23</td>
                                </tr>
      
                              </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
          
                  <div class="col-md-6 mt-3">
                    <div class="card text-black text-left " style="max-width: 100%">
                        <h5 class="card-header p-3">Loss and Accuracy
                        </h5>
                        <div class="card-body">
                            <img src="{{url_for('static', filename='assets/images/imp_sequential.png')}}" class="card-img-top" alt="..." width="100%" />
                        </div>
                    </div>
                </div>
  
                <div class="row d-sm-flex mt-2">
                  <div class="col-md-6 mt-3">
                    <div class="card text-black text-left " style="max-width: 100%">
                        <h5 class="card-header p-3">Model Accuracy
                        </h5>
                        <div class="card-body">
                            <img src="{{url_for('static', filename='assets/images/model_accuracy.png')}}" class="card-img-top" alt="..." width="100%" />
                        </div>
                    </div>
                </div>
                  
                  <div class="col-md-6 mt-3">
                    <div class="card text-black text-left " style="max-width: 100%">
                        <h5 class="card-header p-3">Model Loss
                        </h5>
                        <div class="card-body">
                            <img src="{{url_for('static', filename='assets/images/model_loss.png')}}" class="card-img-top" alt="..." width="100%" />
                        </div>
                    </div>
                </div>
          </div>
          
                  </div>
          
                
              </div>
  
              
              <div class="tab-pane fade show active" id="nav-predict" role="tabpanel" aria-labelledby="nav-predict-tab">
                  <div class="card mt-4">
                      <h4 class="card-header p-3">Input Featured
                      </h4>
                      <div class="card-body">
                        <form action="{{ url_for('predict')}}"method="POST">
                          <div class="row blues">
      
                          <div class="col-md-4">
                              <label for="TotalCharges" class="form-label">Total Charges</label>
                              <input type="number" class="form-control" name="TotalCharges" placeholder="0,0" required="required" />
                          </div>
      
                          <div class="col-md-4">
                              <label for="MonthlyCharges" class="form-label">Monthly Charges</label>
                              <input type="number" class="form-control" name="MonthlyCharges" placeholder="0,0" required="required" />
                          </div>
      
                          <div class="col-md-4">
                              <label for="tenure" class="form-label">Tenure(Bulan)</label>
                              <input type="number" class="form-control" name="tenure" placeholder="0" required="required" />
                          </div>
                        
                            <div class="col-md-6 mb-3">
                              <label for="Contract" class="form-label">Contract</label>
                              <select id="Contract" class="form-select" name="Contract" required="required">
                                <option value="">--Select Contract--</option>
                                <option value="0">Month-to-month</option>
                                <option value="1">One year</option>
                                <option value="2">Two year</option>
                              </select>
                            </div>
    
                            <div class="col-md-6 mb-3">
                              <label for="PaymentMethod" class="form-label">Payment Method</label>
                              <select id="PaymentMethod" class="form-select" name="PaymentMethod" required="required">
                                <option value="">--Select Payment Method--</option>
                                <option value="0">Electronic check</option>
                                <option value="1">Mailed check</option>
                                <option value="2">Bank transfer (automatic)</option>
                                <option value="3">Credit card (automatic)</option>
                              </select>
                            </div>
      
                            <div class="col-md-6 mb-3">
                              <label for="OnlineSecurity" class="form-label">Online Security</label>
                              <select id="OnlineSecurity" class="form-select" name="OnlineSecurity" required="required">
                                <option value="">--Select Online Security--</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                                <option value="2">No internet service</option>
                              </select>
                            </div>
      
                            <div class="col-md-6 mb-3">
                              <label for="TechSupport" class="form-label">Tech Support</label>
                              <select id="TechSupport" class="form-select" name="TechSupport" required="required">
                                <option value="">--Select Tech Support--</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                                <option value="2">No internet service</option>
                              </select>
                            </div>
    
                            <div class="col-md-6 mb-3">
                              <label for="gender" class="form-label">Gender</label>
                              <select id="gender" class="form-select" name="gender" required="required">
                                <option value="">--Select Gender--</option>
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                              </select>
                            </div>
    
                            <div class="col-md-6 mb-3">
                              <label for="InternetService" class="form-label">Internet Service</label>
                              <select id="InternetService" class="form-select" name="InternetService" required="required">
                                <option value="">--Select Internet Service--</option>
                                <option value="0">DSL</option>
                                <option value="1">Fiber optic</option>
                                <option value="2">No</option>
                              </select>
                            </div>
      
                            <div class="col-md-6 mb-3">
                              <label for="OnlineBackup" class="form-label">Online Backup</label>
                              <select id="OnlineBackup" class="form-select" name="OnlineBackup" required="required">
                                <option value="">--Select Online Backup--</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                                <option value="2">No internet service</option>
                              </select>
                            </div>
    
                            <div class="col-md-6 mb-3">
                              <label for="PaperlessBilling" class="form-label">Paperless Billing</label>
                              <select id="PaperlessBilling" class="form-select" name="PaperlessBilling" required="required">
                                <option value="">--Select Paperless Billing--</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                              </select>
                            </div>
    
                            
                          </div>
                          <div class="card-footer">
                            <div class="d-grid mx-auto">
                              <button type="submit" class="btn btn-primary btn-block btn-lg">Prediction</button>
                            </div>
                          </div>
                   </form>
                     </div>
                    
                            <div class="card-footer">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                              <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                              </symbol>
                            </svg>
                            <div class="alert alert-danger d-flex align-items-center text-center" role="alert">
                              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                              <div class="fw-bold ">
                                Result Prediction: {{prediction_text}}
                              </div>
                            </div>
                            </div>
                            
                        </div>
  
              </div>
  
  
  
              <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">
                  <div class="row d-sm-flex mt-2">
                    <div class="col-md-4 mt-3">
                      <div class="card mb-3" style="max-width: 30rem;">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{url_for('static', filename='assets/images/mile1.png')}}"  class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">Milestone 1</h5>
                                <p class="card-text">Projects about dashboard selling market.</p>
                                <p class="card-text"><small class="text-muted"><a href="https://rohmad-batch001.herokuapp.com/" class="card-link links" target="_blank">Visit site</a></small></p>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                      <div class="col-md-4 mt-3">
                          <div class="card mb-3" style="max-width: 30rem;">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <img src="{{url_for('static', filename='assets/images/mile2.png')}}"  class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title">Milestone 2</h5>
                                    <p class="card-text">Projects about predicted bank marketing sales.</p>
                                    <p class="card-text"><small class="text-muted"><a href="https://model-rohmad-app.herokuapp.com/" class="card-link links" target="_blank">Visit site</a></small></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                      <div class="col-md-4 mt-3">
                          <div class="card mb-3" style="max-width: 540px;">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <img src="{{url_for('static', filename='assets/images/mile3.png')}}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title">Milestone 3</h5>
                                    <p class="card-text">Projects about predicted credit credible clients.</p>
                                    <p class="card-text"><small class="text-muted"><a href="https://ml2-rohmad-app.herokuapp.com/" class="card-link links" target="_blank">Visit site</a></small></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
              </div>
            </div>
      </div>
  
  </div>
  {% include 'includes/_footer.html' %}
  {% endblock %}
  